executors:
  node:
    docker:
      - image: cimg/node:22.16.0

aliases:
  restore_cache: &restore_cache
    restore_cache:
      name: Restore pnpm Package Cache
      keys:
        - pnpm-packages-{{ checksum "pnpm-lock.yaml" }}

  install_node_modules: &install_node_modules
    run:
      name: Install Dependencies
      command: corepack enable pnpm && pnpm install --frozen-lockfile

  save_cache: &save_cache
    save_cache:
      name: Save pnpm Package Cache
      key: pnpm-packages-{{ checksum "pnpm-lock.yaml" }}
      paths:
        - ~/.pnpm-store

version: 2.1

jobs:
  test:
    executor: node
    steps:
      - checkout
      - <<: *restore_cache
      - <<: *install_node_modules
      - <<: *save_cache
      - run:
          name: Run Tests
          command: pnpm test

  build:
    executor: node
    steps:
      - checkout
      - <<: *restore_cache
      - <<: *install_node_modules
      - run:
          name: Build
          command: pnpm build
      - persist_to_workspace:
          root: ./
          paths:
            - dist

  deploy:
    executor: node
    steps:
      - checkout
      - attach_workspace:
          at: ./
      - <<: *restore_cache
      - <<: *install_node_modules
      - run:
          name: Install netlify-cli
          command: pnpm add -D netlify-cli
      - run:
          name: Deploy to Netlify
          command: pnpm exec netlify deploy --dir=./dist -p

workflows:
  version: 2
  build_and_deploy:
    jobs:
      - test
      - build:
          requires:
            - test
      - deploy:
          requires:
            - build
          filters:
            branches:
              only: main
